/* 공통 css */
@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, button, form, input, textarea, hr, address, b, strong, a, th {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    color: #000;
    box-sizing: border-box;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
}

* {
  font-size: 18px;
  font-family: 'GmarketSansMedium';
}

/* 폰트 설정 */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#wrapper{
  width: 90vw;
  margin: 80px auto;
}

/* 상세보기 페이지 제목 css */
#wrapper > .page-title-wrap{
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

#wrapper .page-title-wrap > h1{
  font-size: 30px;
}

/* 목록 보기 button css */
.list-btn-wrap{
  width: 90%;
  text-align: right;
  margin-bottom: 50px;
  padding-top: 80px;
}

.list-btn-wrap > a{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #014772ab;
  color: #fff;
  transition: 0.3s;
}

.list-btn-wrap > a:hover{
  background-color: #014772;
}

/* 게시글 상세보기 폼 css */
/* 공통 css */
.board-form{
  width: 90%;
  margin: 0 auto;
}
  
.board-form > div{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.board-form > div > h1{
  width: 100px;
  vertical-align: middle;
}

.board-form > div > input{
  width: 80%;
  height: 40px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  transition: 0.3s;
}

.board-form > div > input:hover{
  border-bottom: 2px solid #00B455;
}

.board-form > div > textarea:hover{
  border-top: 2px solid #00B455;
  border-bottom: 2px solid #00B455;
}

/* 게시글 내용 css */
.post-content-wrap > textarea{
  resize: none;
  width: 80%;
  height: 300px;
  border: none;
  outline: none;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  transition: 0.3s;
  padding: 20px;
}

/* 기본 스크롤바 css 제거 */
.post-content-wrap > textarea::-webkit-scrollbar{
  display: none;
}

/* 전문가의 정보 */
.pro-detaillist{
  margin-left: 5%; 
}

.pro-detaillist table tr td{
  font-size: 30px;
}
.pro-detaillist table tr td img {
  width: 100px;
  height: 100px;
  padding-left: 50%;
}

/* 추가한 css */
/* 전문가 리뷰 전체 목록 css */
#review-write-area{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

#review-write-area > div{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#review-write-area > div > label{
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
  font-size: 24px;
}

#review-write-area > div > textarea{
  width: 90%;
  height: 100px;
  margin: 0 auto;
  resize: none;
  margin-top: 20px;
  padding: 20px;
}

/* 리뷰 작성 button css */
#review-write-area > button{
  align-self: flex-end;
  background-color: #00b45488;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 60px;
  transition: 0.3s;
}

#review-write-area > button:hover{
  background-color: #00b454;
}


/* 리뷰 리스트 영역 css */
.review-list-wrap{
  width: 90%;
  margin-top: 50px;
}

/* 리뷰 리스트 layout css */
.board-form > .review-list-wrap{
  flex-direction: column;
  width: 100%;
}

/* 리뷰 리스트 제목 css */
.board-form > .review-list-wrap > h1{  
  font-size: 24px;
  width: 100%;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.review-list{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  padding: 0 20px;
}

.review-list > li{
  height: 150px;
  border: 2px solid #ccc;
  border-radius: 5px;
  position: relative;
  padding: 20px;
  transition: 0.3s;
}

.review-list > li:hover{
  border: 2px solid #00b454;
}

/* 리뷰 목록 내 textarea css */
.review-list > li > textarea{
  width: 80%;
  height: 100px;
  resize: none;
  outline: none;
}

/* 리뷰 목록 내 button css */
.review-list button{
  padding: 10px 20px;
  color: #fff;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 16px;
  transition: 0.3s;
}

.review-list > li > a:nth-child(2) > button{
  background-color: #029a49b5;
}

.review-list > li > a:nth-child(3) > button{
  background-color: #f93271a6;
}

.review-list > li > a:nth-child(2) > button:hover{
  background-color: #029a49;
}

.review-list > li > a:nth-child(3) > button:hover{
  background-color: #f93271;
}

/* 댓글 목록 버튼 position css */
.review-list > li > a{
  position: absolute;
  bottom: 10px;
}

.review-list > li > a:nth-child(2){
  right: 100px;
}

.review-list > li > a:nth-child(3){
  right: 20px;
}














