<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/header.css" />
  <link rel="stylesheet" href="../../css/footer.css" />
  <link rel="stylesheet" href="../../css/child/studyDetail.css" />
  <script src="https://kit.fontawesome.com/96adc9c597.js" crossorigin="anonymous"></script>
  <title>수업 상세보기 페이지(부모)</title>
</head>

<body>
  <!-- 헤더 -->
  <header id="header">
    <div class="header_wrap">
        <h1><a href="../html/main/index_parents.html"><img src="../../images/logo.png" alt="IDOLL봄"></a></h1>

        <nav>
            <ul class="gnb">
                <li>
                    <a href="../../html/main/index_parents.html">부모님</a>
                    <ul>
                        <li><a href="../../html/matching.html">매칭</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../../html/main/index_pro.html">전문가</a>
                </li>
                <li>
                    <a href="../../html/class_list.html">신청하기</a>
                    <ul>
                        <li><a href="#">돌봄</a></li>
                        <li><a href="#">교육</a></li>
                        <li><a href="#">운동</a></li>
                        <li><a href="#">예능</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../../html/community_parent.html">커뮤니티</a>
                    <ul>
                        <li><a href="../../html/community_parent.html">자유게시판</a></li>
                    </ul>
                </li>
                <li>
                    <a href="../../html/notice.html">고객센터</a>
                    <ul>
                        <li><a href="../../html/question.html">문의하기</a></li>
                        <li><a href="../../html/notice.html">공지사항</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="side">
            <p><button onclick="window.location='../mypage/mypage_mail.html'"><img src="../../images/Alarm.png" alt="알림"></button></p>
            <p><a href="../../html/mypage/mypage_correction.html">마이페이지</a></p>
            <p><a href="../../html/login/loginpage.html">로그인 /</a></p>
            <p><a href="../../html/login/registerpage.html">회원가입</a></p>
        </div>
    </div>
  </header>


  <!-- 수업 상세보기 페이지 -->

  <div id="main-wrapper">
    <!-- 왼쪽 수업 상세정보 영역 -->
    <div class="detail-left-area">
      <div id="top">이동버튼 도착지</div>
      <!-- 이미지 슬라이드 -->
      <div class="carousel-container">
        <ul class="slider-box">
          <li class="slider-item">
            <img src="../../images/index_pro_find.jpg" alt="slider-img4" />
          </li>
          <li class="slider-item">
            <img src="../../images/a4c03f0c5f8fc.png" alt="slider-img1" />
          </li>
          <li class="slider-item">
            <img src="../../images/cb157270a5310.jpeg" alt="slider-img2" />
          </li>
          <li class="slider-item">
            <img src="../../images/index_matching.jpg" alt="slider-img3" />
          </li>
        </ul>
        <button class="left slider-btn"><</button>
        <button class="right slider-btn">></button>
      </div>
  
      <!-- 카테고리 태그 -->
      <div class="category-tag-wrap">
        <h1>카테고리 분류</h1>
        <div>
          <!-- 카테고리(대) -->
          <p>돌봄</p>
          <!-- 카테고리(소) -->
          <p>등/하원 도움</p>
        </div>
      </div>
  
      <!-- 수업 상세정보 영역 ( 이미지, 내용 ) -->
      <section class="study-detail-info">
        <!-- 이미지 -->
        <div class="content-img-wrap">
          <img src="../../images/content-img1.jpg" alt="content-img1" />
        </div>
        <!-- 내용 -->
        <p class="study-content">
          우리 아이에게 1:1 맞춤으로 선생님이 찾아가는 서비스!! <br/>
          아이의 레벨과 속도에 맞춰 집중력을 최대치로!!
        </p>
        <!-- 이미지 -->
        <div class="content-img-wrap">
          <img src="../../images/content-img2.jpg" alt="content-img1" />
        </div>
        
        <!-- 내용 -->
        <p class="study-content">
          경제적인 부분까지 해결해준다!! <br/>
          합리적인 비용으로 긴 시간을 수업을 들으실 수 있고, 기존 수업비 대비 30% 할인된 가격 제공!!
        </p>  
        
        <!-- 이미지 -->
        <div class="content-img-wrap">
          <img src="../../images/content-img3.jpg" alt="content-img1" />
        </div>
        <!-- 내용 -->
        <p class="study-content">
          돌봄과 배움을 한 번에!!<br/>
          놀이부터 숙제, 공부까지 아이에게 정말로 도움이 되는 시간들!!
        </p>
        
        <!-- 버튼 클릭 전까지는 숨김 -->
        <div class="hidden-content">
          <!-- 이미지 -->
          <div class="content-img-wrap">
            <img src="../../images/content-img3.jpg" alt="content-img1" />
          </div>
          <!-- 내용 -->
          <p class="study-content">
            돌봄과 배움을 한 번에!!<br/>
            놀이부터 숙제, 공부까지 아이에게 정말로 도움이 되는 시간들!!
          </p>
  
          <!-- 이미지 -->
          <div class="content-img-wrap">
            <img src="../../images/content-img3.jpg" alt="content-img1" />
          </div>
          <!-- 내용 -->
          <p class="study-content">
            돌봄과 배움을 한 번에!!<br/>
            놀이부터 숙제, 공부까지 아이에게 정말로 도움이 되는 시간들!!
          </p>

        </div>

        <button class="study-more-btn">
          <span>수업 더 보기</span>
          <i class="fa-solid fa-angle-down open-btn"></i>
          <i class="fa-solid fa-angle-up close-btn"></i>
        </button>

      </section>
    </div>
  
    <!-- 오른쪽 영역 -->
    <div class="detail-right-area">
      <!-- 수업 상세 필수영역 -->
      <form th:action="@{/paymentcheck/classNumber(classNumber=${class_info.classNumber})}" method="get">
        <div th:object="${class_info}">
          <!-- 강사명 및 프로필 보기 버튼 -->
          <div class="pro-profile-wrap">
            <!-- 부모 정보 -->
            <input type="hidden" name="parent_info" th:value="${parent_info}" />
            <!-- 동적으로 리뷰를 추가하기 위해 필요한 classNumber -->
            <input type="hidden" name="classNumber" th:field="*{classNumber}" readonly/>
            <h1>강사명</h1>
            <p th:text="*{proName}">이근</p>
            <!-- 해당 강사의 프로필 보기 페이지로 넘어갈 때 주소에 넘겨줄 데이터만 작성함. -->
            <!-- 컨트롤러는 만들어지지 않아서 아직 작성하지 않음. -->
            <a th:href="@{/pro/detail(proNumber=*{proNumber})}">프로필 보기</a>
          </div>
  
          <!-- 수업 제목 -->
          <div class="study-title-wrap">
            <h1>수업 제목</h1>
            <p th:text="*{className}">여름방학 학습돌봄</p>
          </div>
  
          <!-- 수업 내용 -->
          <div class="study-content-wrap">
            <h1>수업 내용</h1>
            <p th:text="*{classContent}">방학 숙제나 부족했던 교과 진도 따라잡기, 1시간은 수학, 국어 <br />
              등 아이에게 필요한 수업을 자란다 쌤과 1:1 맞춤으로 학습해요. <br />
              2시간은 아이가 좋아하는 놀이로 충분히 놀면서 학기 중 스트레스
              날리고 학습 효과까지 UP!!
            </p>
          </div>
  
          <!-- 수업 날짜 및 시간 -->
          <div class="study-date-wrap">
            <h1>수업 날짜 및 시간</h1>
              <select id="reservation-select" name="reservation-select">
                <option th:each="reservation_info : ${reservation_infos}" th:object="${reservation_info}">
                  <span th:text="*{reservationDate}"></span>
                  <span th:text="*{reservationTime} + '시'"></span>
                  <input type="hidden" th:text="*{reservationDateNumber}"></input>
                </option>
              </select>
          </div>
  
          <!-- 결제 금액 -->
          <div class="payAmount-wrap">
            <h1>결제 금액</h1>
            <p th:text="*{classPaymentAccount}">25,000원</p>
          </div>
  
          <!-- 수업 결제, 수업 찜하기 버튼 -->
          <div class="payment-button-wrap">
            <div>
              <button type="submit" class="payment-btn">수업 결제하기</button>
              <a th:href="@{/ParentMyPage/insertSaveClass(classNumber=${class_info.classNumber}, parentNumber=${parent_info.parentNumber})}">
                수업 찜하기
              </a>
            </div>
          </div>
        </div>
      </form>
          
      
      <!-- 수업 리뷰 영역 -->
      <div id="review-area">
        <div id="review-form-wrap">
          <!-- 리뷰 작성 폼 -->
          <form method="#" id="review-write-area">
            <input type="hidden" name="loginId" th:value="${parent_info.parentNumber}" />
            <div>
              <label for="review-write">리뷰 남기기</label>
              <textarea name="" id="review-write"></textarea>
            </div>
            <div>
              <p>별점 : </p>
              <select name="review-evaluation" id="review-evaluation">
                <option value="1">★</option>
                <option value="2">★★</option>
                <option value="3">★★★</option>
                <option value="4">★★★★</option>
                <option value="5">★★★★★</option>
              </select>
            </div>
            <button type="button" class="review-write-btn">리뷰 작성</button>
          </form>
        </div>
          
        <!-- 리뷰를 동적으로 추가 (비동기 통신) -->
        <!-- 리뷰 전체 목록 -->
        <div class="review-list-wrap">
          <h1>리뷰 리스트</h1>
          <ul class="review-list">
            <li class="review-item" id="review-${review.reviewNumber}">
              <input type="hidden" name="reviewNumber"  />
              <textarea value="${review.reviewContent}" name="review-content" class="review-content" readonly></textarea>
              <div>
                <p>작성자 : <span>${parent_info.parentName}</span></p>
                <p>작성일 : <span>${reviewDate}${editStr}</span></p>
              </div>
              <!-- 수정, 삭제 버튼 -->
              <div>
                <button onclick="updateReview(${review.reviewNumber})">수정</button>
                <button onclick="deleteReview(${review.reviewNumber})">삭제</button>
              </div>
            </li>
            <li class="review-item">
              <input type="hidden" name="reviewNumber"  />
              <textarea value="${review.reviewContent}" name="review-content" class="review-content" readonly></textarea>
              <div>
                <p>작성자 : <span>${parent_info.parentName}</span></p>
                <p>작성일 : <span>${reviewDate}${editStr}</span></p>
              </div>
              <!-- 수정, 삭제 버튼 -->
              <div>
                <button onclick="updateReview(${review.reviewNumber})">수정</button>
                <button onclick="deleteReview(${review.reviewNumber})">삭제</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- top 이동 버튼 -->
  <a class="move-to-top" href="#top"><i class="fa-solid fa-angles-up"></i></a>

  <!-- 푸터 -->
  <footer id="footer">
    <div class="footer_wrap">
      <img src="../../images/footer_logo.png" alt="IDOLL봄">

      <div>
        <div>
          <p>사업자등록번호 779-81-00425</p>
          <p>통신판매업신고 2021-서울강남04707</p>
        </div>
        <address><b>본사</b> : 서울특별시 강남구 테헤란로 152 강남파이낸스센터빌딩 40층 자란다</address>
        <div>
          <p>(주)자란다 대표 김성환</p>
          <p>개인정보보호책임자 김택주</p>
        </div>
      </div>

      <div>
        <ul>
          <li><a href="#">이용약관</a></li>
          <li><a href="#">개인정보처리방침</a></li>
          <li><a href="#">고객지원</a></li>
          <li><a href="#">운영관리방침</a></li>
          <li><a href="#">이메일주소</a></li>
        </ul>
        <ul>
          <li><a href="https://blog.naver.com/jaranblog" target="_blank"><img src="../../images/footer_social_blog.png"
                alt="블로그 바로가기"></a></li>
          <li><a href="https://www.instagram.com/jaranda__official" target="_blank"><img
                src="../../images/footer_social_insta.png" alt="인스타그램 바로가기"></a></li>
          <li><a href="https://www.youtube.com/channel/UCTXkxn1OlVvljxEe-hbd3Vg" target="_blank"><img
                src="../../images/footer_social_youtube.png" alt="유튜브 바로가기"></a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
  <script src="../../js/motion.js"></script>
  <script src="../../js/studyDetail.js"></script>
</body>

</html>